@model IEnumerable<ASPNET_MVC_Template.Models.Customers>

@{
    ViewBag.Title = "Tabella";
}

<h2>Tabella</h2>

    <table class="table">
    @foreach (var item in Model)
    {

            <tr>
                <td>@item.CompanyName</td>
                <td>@item.Country</td>
                <td>@item.City</td>
            </tr>

            }
    </table>