
@{
    ViewBag.Title = "Partenza";
}
<h1>Gestione dello stato in Session e Cache</h1>
<h2>Partenza</h2>
<form>
    Session: <input type="text" name="txtSS" /> <input type="submit" value="Salva in sessione" />
    <hr />
    Cache: <input type="text" name="txtCH" /> <input type="submit" value="Salva in cache" />
</form>
